:root {
    --p-text-color: #434455;
    --background-color: #E5E5E5;
    --nav-text-color: #2E2F42;
    --blu-color: #4D5AE5;
    --white-fon: #ffffff;
    --color-F4F4FD: #F4F4FD;
    --color-E7E9FC: #E7E9FC;
    --color-404BBF: #404BBF;

}

* {
    margin: 0;
    padding: 0;
}

/* Body */
body {
    background-color: var(--white-fon);
    color: var(--p-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* point-line */
.list {
    list-style: none;

}

a:link {
    text-decoration: none;
}

/* logo */
.logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    font-weight: 1.33;
    letter-spacing: 0.03em;
    color: var(--nav-text-color);

}

.logo .logo-partone {

    color: var(--blu-color);
}

/* logo footer */
.logo-futer {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    font-weight: 1.17;
    letter-spacing: 0.03em;
    color: var(--color-F4F4FD);
}

.logo-futer .logo-parttwo {

    color: var(--blu-color);
}

.footer {
    background-color: var(--nav-text-color);
}

.section {
    background-color: var(--color-F4F4FD);
}

/* хедр */
.nav {
    color: var(--nav-text-color);
    font-weight: 500;
}

.nav:hover,
.nav:focus {
    color: var(--color-404BBF);

}

.cont {
    color: var(--p-text-color);
}

.cont:hover,
.cont:focus {
    color: var(--color-404BBF);
}


/* Hero */
.hero-title {
    color: var(--white-fon);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
}

.hero {
    background-color: var(--nav-text-color);
}

/* h2 */
.section-title {
    color: var(--nav-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
}

/* h3 */
.list-type {
    color: var(--nav-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.button {
    background-color: var(--color-F4F4FD);
    color: var(--blu-color);
    font-weight: 500;
    cursor: pointer;
}

.button:hover,
.button:focus {
    background-color: var(--color-404BBF);
    color: var(--white-fon);

}

.button.primary {
    background-color: var(--blu-color);
    color: var(--white-fon);
}

.button.primary:hover,
.button.primary:focus {
    background-color: var(--color-404BBF);
}

.footer-text {
    color: var(--color-E7E9FC);
}